body { 
    font-family:      Georgia, "Times New Roman", Times, serif;
    margin:           0px;
    background-color: #fcf7ec;
  }
  
header{
    margin:10px 10px 0px 10px;
    height: 50px;
}
h1{
    color: #954b4b;
    text-align: center;
}
a{
    text-decoration: none;
}

/*导航区*/
.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper .inner { width:1500px; margin:0 auto;} /**页面全局宽度**/
nav.wrapper{
    background-color:#efe5d0;
    height: 41px;
}
.nav .nav-item{
    display: inline;
}
.nav .nav-item a{
    text-decoration: none;
    display: block;
    float: left;
    font: 16px/41px "Microsoft YaHei";
    color:#954b4b;
    padding: 0 75px;
    height: 41px;
}

ul li a:link,ul li a:visited{

    color:#954b4b;
    border-bottom: none;
    font-weight: bold;
}

.quanbu{
    background-color:#faf1df;
    margin:10px;
}

.dh{
    width: 1100px;
    margin: 0 auto;
    padding-top:10px; 
}

#tc{
    display:table;
    border-spacing: 10px;
}

#tr{
    display:table-row;
}


.center{
    display: table-cell;
    width:50%;
    padding: 15px;
    text-align: center;
    background-color:#faf1df;
    vertical-align: top;
}

.centerbook{
    width:100%;
}

.zhuti{
    width: 100%;
    height: 200px;
}

.bimg{
    width: 250px;
    float: left;
    padding: 20px;
}
.biaoti{
    margin-top: 30px;
    width: 600px;
    float: right;
    text-align: center;
}
.neirong{
    height: 300px;
    text-align: left;
    margin: 20px;
    text-indent: 2em;
    line-height: 2em;
}

#footer {
    color: #954b4b;
    background-color:#efe5d0;
    text-align:       center;
    padding: 15px;
    margin:           10px;
    font-size:        90%;
  }
